<p style="color: green"><%= notice %></p>

<h1><%= t(".h1") %></h1>

<div id="books">
  <% @books.each do |book| %>
    <div>
      <%= render book %>
      <p>
        <%= link_to t("books.link.show"), book %>
      </p>
    </div>
  <% end %>
</div>

<nav>
  <%= link_to t("books.link.new"), new_book_path %>
</nav>
