<p style="color: green"><%= notice %></p>

<div>
  <%= render @book %>
</div>

<nav>
  <%= link_to t("activerecord.link.edit"), edit_book_path(@book) %> |
  <%= link_to t("activerecord.link.back"), books_path %>
  <%= button_to t("activerecord.link.destroy"), @book, method: :delete %>
</nav>
