<!DOCTYPE html>
<html>
  <head>
    <title><%= t('.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <p style="color: green" class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <p><%= t('.signing_in', name: current_user.name) %></p>
      <p><%= link_to t('.logout'), destroy_user_session_path, data: { turbo_method: :DELETE } %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
